@import "global";

.details-value,
.search-wrapper{
  display: flex;
  flex-direction: row;
}

.overflow-x-auto{
  overflow-x: auto;
}

.table-min-width {
  min-width: 1000px;
}

.align-with-buttons{
  width: 24px;
  height: 24px;
  text-align: center;
}

.page-item.disabled a.page-link{
  color: #9d9d9d !important;
  border-color: #9d9d9d !important;
}

.clickable{
  cursor: pointer;
}