@import "global";

.no-margin{
  margin: 0;
}

.item-preview{
  height: 150px;
}

.products-wrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;

  border-top: $black-color;
  border-top-style: solid;
  border-top-width: 1px;
}

.product-wrapper{
  width: 300px;
}

.fixed-height{
  height: 80px;
  text-overflow: ellipsis;
}